/* Set the background color to black */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Style the header */
header {
    width: 35%; /* Increase the width of the header */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    overflow-y: auto;
}

/* Style the profile picture */
.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Style the social icons */
.social-icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.social-icons button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.social-icons button:hover {
    background-color: #ddd;
}

.social-icons button i {
    margin-right: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}

/* Style the main content */
main {
    width: 65%; /* Decrease the width of the main content */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

section {
    margin-bottom: 40px;
}

h2, h3 {
    color: #ddd;
}

/* Style the lists */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    margin: 5px;
    padding: 5px 20px; /* Adjust padding to make the height smaller */
    border-radius: 15px; /* Adjust border-radius to make the buttons oval */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    border: 2px solid; /* Add border */
}

/* Different colors for each set of buttons */
ul.Languanges li {
    background-color: rgba(231, 76, 60, 0.2); /* Red with 20% opacity */
    border-color: #e74c3c; /* Red border */
}

ul.Frameworks li {
    background-color: rgba(52, 152, 219, 0.2); /* Blue with 20% opacity */
    border-color: #3498db; /* Blue border */
}

ul.Backend li {
    background-color: rgba(46, 204, 113, 0.2); /* Green with 20% opacity */
    border-color: #2ecc71; /* Green border */
}

ul.Databases li {
    background-color: rgba(241, 196, 15, 0.2); /* Yellow with 20% opacity */
    border-color: #f1c40f; /* Yellow border */
}

ul.Practices li {
    background-color: rgba(155, 89, 182, 0.2); /* Purple with 20% opacity */
    border-color: #9b59b6; /* Purple border */
}

ul li:hover {
    opacity: 0.8;
}